<a href="https://colab.research.google.com/github/DebugWithNazi/Pandas-Basic-to-Advanced/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas** is a powerful, open-source **data analysis** and **manipulation** library for Python. It is widely used in data science, machine learning, financial analysis, and data engineering.

**ðŸ”¹ What is Pandas?**
Pandas provides two main data structures:

**Series â€“** a one-dimensional labeled array (like a column in Excel or a single list with an index).

**DataFrame â€“**  a two-dimensional labeled table of data (like an Excel sheet or SQL table).

**ðŸ”¹ Why Use Pandas?**
Easy handling of missing data
Powerful and flexible group by functionality
Built-in data cleaning, filtering, sorting, and merging
Works well with CSV, Excel, JSON, SQL databases, and more
Efficient performance, built on top of NumPy

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

**How to read data:**

In [ ]:
import pandas as pd

# read data from csv file into a dataframe
df = pd.read_csv("sales_data_sample.csv", encoding="latin1") # if error while reading a data, use encoding as utf-8 or latin1
# df = pd.read_excel("SampleSuperStore.xlsx")
# df = pd.read_json("Sample_Data.json")
print(df)


#gcsfs library to read data directly from google cloud (if data is on google cloud)

   OrderID        Date Region    Sales_Rep   Product  Unit_Price  Quantity  \
0     1001  2025-01-05  North   John Smith  Widget A        25.0         4
1     1002  2025-01-07  South     Jane Doe  Widget B        15.5        10
2     1003  2025-01-11   East    Tom Brown  Widget A        25.0         2
3     1004  2025-01-15   West  Alice Green  Widget C        30.0         6
4     1005  2025-01-20  North   John Smith  Widget B        15.5         8
5     1006  2025-01-23  South     Jane Doe  Widget C        30.0         3
6     1007  2025-01-28   East    Tom Brown  Widget B        15.5         5
7     1008  2025-02-02   West  Alice Green  Widget A        25.0         7
8     1009  2025-02-07  North   John Smith  Widget C        30.0         2
9     1010  2025-02-10  South     Jane Doe  Widget A        25.0         1

   Total_Sales
0        100.0
1        155.0
2         50.0
3        180.0
4        124.0
5         90.0
6         77.5
7        175.0
8         60.0
9         25.0

**How to save data:**

In [ ]:
#how to make our own data

data = {
    "Name": ["Laiba","Ahsin","Isha"],
    "Age": [10,20,30],
    "City": ["Lahore","Karachi","Delhi"]
}

df = pd.DataFrame(data)
print(df)

# df.to_csv("output.csv",index = False) # index = False will remove index column
# df.to_excel("output.xlsx",index = False)
df.to_json("output.json",index = False)

    Name  Age     City
0  Laiba   10   Lahore
1  Ahsin   20  Karachi
2   Isha   30    Delhi

**Explore Dataset (1st step of understanding the data):**


> Understand the data


> Identify the problems


> Plan next steps

In [ ]:
#step 1: reviewing the data
# head(n) first n rows / first 5 rows by default
# tail() last n rows / last 5 rows by default
import pandas as pd

df = pd.read_csv("sales_data_sample.csv", encoding="latin1")
print("Display starting 5 rows",df.head(5))
print("Display last 5 rows",df.tail(5))

Display starting 5 rows    OrderID        Date Region    Sales_Rep   Product  Unit_Price  Quantity  \
0     1001  2025-01-05  North   John Smith  Widget A        25.0         4
1     1002  2025-01-07  South     Jane Doe  Widget B        15.5        10
2     1003  2025-01-11   East    Tom Brown  Widget A        25.0         2
3     1004  2025-01-15   West  Alice Green  Widget C        30.0         6
4     1005  2025-01-20  North   John Smith  Widget B        15.5         8

   Total_Sales
0        100.0
1        155.0
2         50.0
3        180.0
4        124.0
Display last 5 rows    OrderID        Date Region    Sales_Rep   Product  Unit_Price  Quantity  \
5     1006  2025-01-23  South     Jane Doe  Widget C        30.0         3
6     1007  2025-01-28   East    Tom Brown  Widget B        15.5         5
7     1008  2025-02-02   West  Alice Green  Widget A        25.0         7
8     1009  2025-02-07  North   John Smith  Widget C        30.0         2
9     1010  2025-02-10  South     Jane Doe  Widget A        25.0         1

   Total_Sales
5         90.0
6         77.5
7        175.0
8         60.0
9         25.0

In [ ]:
# step 2: understand the data
# 1- columns? rows?
# 2- what type of data?
# 3- where is missing data?
info() # this method concise summary of your data (no of rows and col, col name, int64, float64, object,
# non-null count, memory usage)

In [ ]:
import pandas as pd

df = pd.read_csv("sales_data_sample.csv", encoding="latin1")
print("Displaying the info of dataset")
print(df.info())

Displaying the info of dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      10 non-null     int64
 1   Date         10 non-null     object
 2   Region       10 non-null     object
 3   Sales_Rep    10 non-null     object
 4   Product      10 non-null     object
 5   Unit_Price   10 non-null     float64
 6   Quantity     10 non-null     int64
 7   Total_Sales  10 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 772.0+ bytes
None

**Describe method:**

In Pandas, **std()** stands for standard deviation, a statistical measure of how spread out the values in a dataset are. <br>

**What is Standard Deviation?** <br>
It tells you how much the values deviate from the mean (average). <br>

A low standard deviation means the values are close to the mean. <br>

A high standard deviation means the values are more spread out. <br>

In [ ]:
#step 1: sample data frame
import pandas as pd

data = {
    "Name": ["Laiba","Ahsin","Isha","Maha","Zain"],
    "Age": [10,20,30,40,50],
    "Salary": [40000, 50000, 70000, 10000, 34000],
    "Performance Score": [87,89,34,67,45]
}

df = pd.DataFrame(data)
print(df)

# count	Number of non-null (non-NaN) values
# mean	Average of the values
# std	Standard deviation (how spread out the values are)
# min	Minimum value
# 25%	First quartile (25% of values are below this)
# 50%	Median / second quartile (half of the values are below this)
# 75%	Third quartile (75% of values are below this)
# max	Maximum value

# Letâ€™s say we have two datasets:
# Data A: [10, 10, 10, 10] â†’ std = 0 (no variation)
# Data B: [5, 10, 15, 20] â†’ std = higher (values are spread out from the mean)
# print("Descriptive Statistics: ")
df.describe()

    Name  Age  Salary  Performance Score
0  Laiba   10   40000                 87
1  Ahsin   20   50000                 89
2   Isha   30   70000                 34
3   Maha   40   10000                 67
4   Zain   50   34000                 45
Descriptive Statistics:

             Age        Salary  Performance Score
count   5.000000      5.000000           5.000000
mean   30.000000  40800.000000          64.400000
std    15.811388  21981.810662          24.613005
min    10.000000  10000.000000          34.000000
25%    20.000000  34000.000000          45.000000
50%    30.000000  40000.000000          67.000000
75%    40.000000  50000.000000          87.000000
max    50.000000  70000.000000          89.000000

**How big your dataset & what are the name of the columns:**
Shape and columns

In [ ]:
import pandas as pd

data = {
    "Name": ["Laiba","Ahsin","Isha","Maha","Zain"],
    "Age": [10,20,30,40,50],
    "Salary": [40000, 50000, 70000, 10000, 34000],
    "Performance Score": [87,89,34,67,45]
}

df = pd.DataFrame(data)
print(df)
print("Shape: ", df.shape)
print("Columns: ", df.columns)

    Name  Age  Salary  Performance Score
0  Laiba   10   40000                 87
1  Ahsin   20   50000                 89
2   Isha   30   70000                 34
3   Maha   40   10000                 67
4   Zain   50   34000                 45
Shape:  (5, 4)
Columns:  Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

1- Select specific column (by using sqaure brackets) <br>
2- filter rows (by using boolean conditions) <br>
3- combine multiple conditions

Selecting Columns: <br>
1- a series <br>
2- dataframe mutiple columns of data

Selecting Rows: <br>
filtered_rows = df[df["Salary"] > 50000] <br>

filtered_rows = df[(df["Salary"] > 50000) and (df["Salary"] > 80000)]

In [ ]:
# column = df["Column Name"]
# subset = df["Column1", "Column2"]
import pandas as pd

data = {
    "Name": ["Laiba","Ahsin","Isha","Maha","Zain"],
    "Age": [10,20,30,40,50],
    "Salary": [40000, 50000, 70000, 10000, 34000],
    "Performance Score": [87,89,34,67,45]
}

df = pd.DataFrame(data)
print(df)
print("Single Column will return series")
name = df["Name"]
print(name)
print("Multiple Column will return dataframe")
subset = df[["Name","Salary"]]
print(subset)

#How to filter rows
# by one condition
high_salary = df[df['Salary'] > 50000]
print("High Salary: \n", high_salary)

# by two conditions (and)
filtered_rows = df[(df["Salary"] >= 50000) & (df["Age"] >= 30)]
print("Filtered Rows: \n", filtered_rows)

# by two conditions (or)
filtered_rows1 = df[(df["Salary"] > 50000) | (df["Age"] > 30)]
print("Filtered Rows: \n", filtered_rows1)

    Name  Age  Salary  Performance Score
0  Laiba   10   40000                 87
1  Ahsin   20   50000                 89
2   Isha   30   70000                 34
3   Maha   40   10000                 67
4   Zain   50   34000                 45
Single Column will return series
0    Laiba
1    Ahsin
2     Isha
3     Maha
4     Zain
Name: Name, dtype: object
Multiple Column will return dataframe
    Name  Salary
0  Laiba   40000
1  Ahsin   50000
2   Isha   70000
3   Maha   10000
4   Zain   34000
High Salary:
    Name  Age  Salary  Performance Score
2  Isha   30   70000                 34
Filtered Rows:
    Name  Age  Salary  Performance Score
2  Isha   30   70000                 34
Filtered Rows:
    Name  Age  Salary  Performance Score
2  Isha   30   70000                 34
3  Maha   40   10000                 67
4  Zain   50   34000                 45