<a href="https://colab.research.google.com/github/DebugWithNazi/Pandas-Basic-to-Advanced/blob/main/Pandas_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Adding Columns**

In [ ]:
!pip install Pandas

Requirement already satisfied: Pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)

In [ ]:
import pandas as pd

data ={
    "Name":["Sania", "Isha", "Muntaha", "Hadia"],
    "Age":[21,34,23,15],
    "Salary": [45000, 23000, 10000,23000],
    "Performance_Score": [90,99,64,85]
}
df = pd.DataFrame(data)

# by direct assignment add column
df["Bonus"] = df['Salary'] * 0.1

# by using insert() method add column at specific index
df.insert(0,"EmpoyeeId", [10,20,30,40])
print(df)

# update a value from data (.loc[]) at specific location
df.loc[0,"Salary"] = 50000 # On 0 row, Salary is updated
print(df)

# increasing salary by 5% (update the entire column)
df["Salary"] = df["Salary"] * 1.05
print(df)

   EmpoyeeId     Name  Age  Salary  Performance_Score   Bonus
0         10    Sania   21   45000                 90  4500.0
1         20     Isha   34   23000                 99  2300.0
2         30  Muntaha   23   10000                 64  1000.0
3         40    Hadia   15   23000                 85  2300.0
   EmpoyeeId     Name  Age  Salary  Performance_Score   Bonus
0         10    Sania   21   50000                 90  4500.0
1         20     Isha   34   23000                 99  2300.0
2         30  Muntaha   23   10000                 64  1000.0
3         40    Hadia   15   23000                 85  2300.0
   EmpoyeeId     Name  Age   Salary  Performance_Score   Bonus
0         10    Sania   21  52500.0                 90  4500.0
1         20     Isha   34  24150.0                 99  2300.0
2         30  Muntaha   23  10500.0                 64  1000.0
3         40    Hadia   15  24150.0                 85  2300.0

**Removing Column:**

In [ ]:
# how to remove single column
# df.drop(columns = ["Performance_Score"], inplace = True)
# print(df)

# how to remove multiple column
df.drop(columns = ["Age","Salary"], inplace = True)
print(df)

   EmpoyeeId     Name   Bonus
0         10    Sania  4500.0
1         20     Isha  2300.0
2         30  Muntaha  1000.0
3         40    Hadia  2300.0

**Handling Missing Data:**

In [ ]:
# NaN (not a number)
# None (for object data types)

isnull()
True  # NaN ( is missing )
False # value is present

In [ ]:
import pandas as pd

data ={
    "Name":["Sania", None, "Muntaha", "Hadia"],
    "Age":[21,None,23,15],
    "Salary": [45000, None, 10000,23000],
    "Performance_Score": [90,None,64,85]
}
df = pd.DataFrame(data)
print(df)

print(df.isnull())
print(df.isnull().sum())

      Name   Age   Salary  Performance_Score
0    Sania  21.0  45000.0               90.0
1     None   NaN      NaN                NaN
2  Muntaha  23.0  10000.0               64.0
3    Hadia  15.0  23000.0               85.0
    Name    Age  Salary  Performance_Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
Name                 1
Age                  1
Salary               1
Performance_Score    1
dtype: int64

**How to drop missing dataset:**

In [ ]:
# dropna()
import pandas as pd

data ={
    "Name":["Sania", None, "Muntaha", "Hadia"],
    "Age":[21,None,23,15],
    "Salary": [45000, None, 10000,23000],
    "Performance_Score": [90,None,64,85]
}
df = pd.DataFrame(data)
print(df)
print("--------")
df.dropna(axis=0, inplace=True) # remove all none values from row, if axis = 1 then remove none from column
print(df)

#if you want to replace a value with None values
df.fillna(0, inplace = True)
print(df)

#if you want to replace a value with None values
df["Age"].fillna(df["Age"].mean(), inplace = True)
print(df)

      Name   Age   Salary  Performance_Score
0    Sania  21.0  45000.0               90.0
1     None   NaN      NaN                NaN
2  Muntaha  23.0  10000.0               64.0
3    Hadia  15.0  23000.0               85.0
--------
      Name        Age   Salary  Performance_Score
0    Sania  21.000000  45000.0               90.0
1     None  19.666667      NaN                NaN
2  Muntaha  23.000000  10000.0               64.0
3    Hadia  15.000000  23000.0               85.0

/tmp/ipython-input-31-1587648273.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace = True)

**Interpolation:** missing values me estimated values fill ki jati hen for example if we have 10,20,None,40,50 then estimated value should be 10,20,30,40,50

In [ ]:
# Why need to use interpolation:
# 1- preserve data integrity (it will predict realistic value and place it)
# 2- smooth trends (where continuity matters)
# 3- avoid data loss
import pandas as pd

data ={
    "Name":["Sania", "Isha", "Muntaha", "Hadia"],
    "Age":[21,None,23,15],
    "Salary": [45000, None, 10000,23000],
    "Performance_Score": [90,None,64,85]
}
df = pd.DataFrame(data)
print(df)
print("----")
# linear, polynomial, time
df.interpolate(method = "linear",axis = 0, inplace = True)
print(df)

      Name   Age   Salary  Performance_Score
0    Sania  21.0  45000.0               90.0
1     Isha   NaN      NaN                NaN
2  Muntaha  23.0  10000.0               64.0
3    Hadia  15.0  23000.0               85.0
----
      Name   Age   Salary  Performance_Score
0    Sania  21.0  45000.0               90.0
1     Isha  22.0  27500.0               77.0
2  Muntaha  23.0  10000.0               64.0
3    Hadia  15.0  23000.0               85.0

/tmp/ipython-input-36-2482408275.py:17: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = "linear",axis = 0, inplace = True)

In [ ]:
data = {
    "Time": [1,2,3,4,5],
    "value": [10,None,30,None,50]
}

df = pd.DataFrame(data)
print(df)
print("----")
df["value"] = df["value"].interpolate(method = "linear")
print(df)
# Advantage of interpolation
# 1- time series data, 2- numeric data with trends 3- avoid dropping rows
# Disadvantage
# 1- not work for categorical data (name, id's) 2- it assume pattern, which always not true

   Time  value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0
----
   Time  value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0

**Sorting & aggregation:**

In [ ]:
# sorting data
import pandas as pd

data ={
    "Name":["Sania", "Isha", "Muntaha", "Hadia"],
    "Age":[21,100,23,15],
    "Salary": [45000, 34000, 10000,23000],
    "Performance_Score": [90,75,64,85]
}
df = pd.DataFrame(data)
print(df)
print("----")

df.sort_values(by = "Salary", ascending = False, inplace = True) # single col sorting
print(df)

df.sort_values(by = ["Age","Salary"], ascending = [True,False], inplace = True) # single col sorting
print(df)

# aggregation invlove calculating summary statistics (sum, mean etc)
# summary statistics (avg, total, min , max etc)
# df["Column1"].mean()
# df["Column1"].max()
# df["Column1"].min()
# df["Column1"].sum()
avg_salary = df["Salary"].mean()
print(avg_salary)

      Name  Age  Salary  Performance_Score
0    Sania   21   45000                 90
1     Isha  100   34000                 75
2  Muntaha   23   10000                 64
3    Hadia   15   23000                 85
----
      Name  Age  Salary  Performance_Score
0    Sania   21   45000                 90
1     Isha  100   34000                 75
3    Hadia   15   23000                 85
2  Muntaha   23   10000                 64
      Name  Age  Salary  Performance_Score
3    Hadia   15   23000                 85
0    Sania   21   45000                 90
2  Muntaha   23   10000                 64
1     Isha  100   34000                 75
28000.0

**What is grouping in Pandas?**

In [ ]:
import pandas as pd

data ={
    "Name":["Sania", "Isha", "Muntaha", "Hadia","Jia"],
    "Age":[21,34,23,15,34],
    "Salary": [45000, 34000, 10000,23000,50000],
    "Performance_Score": [90,75,64,85,59]
}
df = pd.DataFrame(data)
print(df)
print("----")
# group by on single column
grouped_df = df.groupby("Age")["Salary"].sum()
print(grouped_df)

# group by on multiple columns
grouped_df = df.groupby(["Age","Name"])["Salary"].sum()
print(grouped_df)

      Name  Age  Salary  Performance_Score
0    Sania   21   45000                 90
1     Isha   34   34000                 75
2  Muntaha   23   10000                 64
3    Hadia   15   23000                 85
4      Jia   34   50000                 59
----
Age
15    23000
21    45000
23    10000
34    84000
Name: Salary, dtype: int64
Age  Name
15   Hadia      23000
21   Sania      45000
23   Muntaha    10000
34   Isha       34000
     Jia        50000
Name: Salary, dtype: int64

**Common aggregation functions:**
1- sum() 2- mean() (avg) 3- min() 4- max() 5- count() non-nan ka count 6- std()

**Merging & joining:**

In [ ]:
# Merging
pd.merge(df1,df2, on = "Column Name", how = "Type of Join") # type: inner/outer/left/right

In [ ]:
import pandas as pd

df_customers = pd.DataFrame({
     'CustomerId': [1, 2, 3, 4],
     'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

df_orders = pd.DataFrame({
     'OrderId': [101, 102, 103, 104],
     'CustomerId': [1,2,5,4]
})
# as customer id is common column so we use it as a key
df_merged = pd.merge(df_customers,df_orders, on = "CustomerId", how = "inner") # inner: only matching rows
print(df_merged)

df_merged = pd.merge(df_customers,df_orders, on = "CustomerId", how = "outer") # outer: all rows
print(df_merged)

df_merged = pd.merge(df_customers,df_orders, on = "CustomerId", how = "left") # left: all rows from left
print(df_merged)

df_merged = pd.merge(df_customers,df_orders, on = "CustomerId", how = "right") # right: all rows from right
print(df_merged)

df_merged = pd.merge(df_customers,df_orders, how = "cross") # cross: all rows from right
print(df_merged) # this one do cartesian product, which make all possible combinations of rows and columns

   CustomerId   Name  OrderId
0           1  Alice      101
1           2    Bob      102
2           4  David      104
   CustomerId     Name  OrderId
0           1    Alice    101.0
1           2      Bob    102.0
2           3  Charlie      NaN
3           4    David    104.0
4           5      NaN    103.0
   CustomerId     Name  OrderId
0           1    Alice    101.0
1           2      Bob    102.0
2           3  Charlie      NaN
3           4    David    104.0
   CustomerId   Name  OrderId
0           1  Alice      101
1           2    Bob      102
2           5    NaN      103
3           4  David      104
    CustomerId_x     Name  OrderId  CustomerId_y
0              1    Alice      101             1
1              1    Alice      102             2
2              1    Alice      103             5
3              1    Alice      104             4
4              2      Bob      101             1
5              2      Bob      102             2
6              2      Bob      103             5
7              2      Bob      104             4
8              3  Charlie      101             1
9              3  Charlie      102             2
10             3  Charlie      103             5
11             3  Charlie      104             4
12             4    David      101             1
13             4    David      102             2
14             4    David      103             5
15             4    David      104             4

**Concatenation:**

In [ ]:
'''
vertically (row-wise)
horizontally (column-wise)
pd.concate([df1,df2],axis = 0, ignore_index = True)
'''

import pandas as pd

df_region1 = pd.DataFrame({
     'CustomerId': [1, 2],
     'Name': ['Alice', 'Bob']
})

df_region2 = pd.DataFrame({
     'CustomerId': [3, 4],
     'Name': ['Charlie', 'David']
})

df_concate = pd.concat([df_region1,df_region2], axis = 0, ignore_index = True)
print(df_concate)

df_concate = pd.concat([df_region1,df_region2], axis = 1, ignore_index = True)
print(df_concate)

   CustomerId     Name
0           1    Alice
1           2      Bob
2           3  Charlie
3           4    David
   0      1  2        3
0  1  Alice  3  Charlie
1  2    Bob  4    David